<html ng-app="ContactApp">
    <head>
    <title>Contact APP </title>
    <script src="angular.js"></script>
    <script src="Contact.js"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    </head>

<body>
<h1> My contact App </h1>
<div class='container' ng-controller="contactctrl as ctrl">
    <ul class="list-group">
<li ng-repeat="contacts in ctrl.contacts">
    <span> {{contacts.name.first + " " + contacts.name.last}} </span>
    
</li>
</ul>
</div>
</body>











</html>