<html ng-app="clockapp">
<head> 
       <script src="angular.js"> </script>
        </head>

<body>
 
    <div ng-controller="Timectrl">
       <p> {{TimeString}}</p>

        </div>

<script>
var a=angular.module("clockapp",[]);
a.controller("Timectrl",Timectrl);

function Timectrl($scope)
{
    var currentDate=new Date();
    $scope.TimeString=currentDate.toTimeString();
}
</script>

</body>


</html>