
<head>
    <script src="angular.js"></script>
<script src="app.js"></script>
    <title></title>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">

Enter First Number:<input type="text"  ng-model="num1" /><br />
Enter Second Number:<input type="text" ng-model="num2" /><br />
<input type="button" value="+" ng-click="sum(num1,num2)" />
<input type="button" value="*" ng-click="mul(num1,num2)" />
<input type="button" value="-" ng-click="sub(num1,num2)" />
<input type="button" value="/" ng-click="div(num1,num2)" />
<input type="text" ng-model="result" />
</div>
</body>
</html>


 
